/*
@font-face {
    font-family: SiyamRupali;
    src: url('../fonts/Siyamrupali.ttf');
    font-weight: normal;
    font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@200&display=swap');
